#about-hello {
  color: #f85c37;
}

#about-hello:hover {
  cursor: pointer;
}

@media (min-width: 1200px) {

  /* Skills Section */

  #skills-description-container {
    min-height: 650px;
  }
  #skills-header-div {
    margin-bottom: 10px;
  }
}
