<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113187687-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113187687-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website for Carson Newton featuring resume and portfolio.">
    <meta name="author" content="Carson Newton">
    {% load static %}
    <link rel="shortcut icon" href="{% static "website/ico/favicon.png" %}">

    <title>Carson Newton - Software Engineer and Full-Stack Developer</title>

    {% load static %}
    <link href="{% static "website/css/bootstrap.css" %}" rel="stylesheet">

    {% load static %}
    <link href="{% static "website/css/main.css" %}" rel="stylesheet">

    {% load static %}
	<link rel="stylesheet" href="{% static "website/css/font-awesome.min.css" %}">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    {% load static %}
    <script src="{% static "website/js/jquery.min.js" %}"></script>
    {% load static %}
    <script type="text/javascript" src="{% static "website/js/smoothscroll.js" %}"></script>
    {% load static %}
    <script src="{% static "website/js/Chart.js" %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a href="#section-about" title="About"><i class="icon-user"></i></a></li>
                            {% load static %}
							<li class="menu-item"><a href="{% static "website/img/carson-newton-resume.pdf" %}" title="Resume" id="file-icon"><i class="icon-file"></i></a></li>
							<li class="menu-item"><a href="#section-works" title="Works"><i class="icon-briefcase"></i></a></li>
							<li class="menu-item"><a href="#section-contact" title="Contact"><i class="icon-envelope"></i></a></li>
                        </ul>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
                    {% load static %}
					<h1 class="header-fade">Carson Newton</h1>
					<h3 class="header-fade">Full-Stack Developer | Software Engineer</h3>
				</div>
			</div>
		</div>
	</div>


	<section id="section-about" name="section-about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p>I'm a Software Engineer and Full-Stack Developer with a passion for creating innovative programs. I love designing intuitive and modern interfaces that give users a great experience, but my specialty is cultivating big data through fast and efficient back-end architecture. I also have skills in other fields like marketing, logo design, professional video editing, professional photography, professional music production, and web development.</p>
				</div>
				<div class="col-lg-3">
                    {% load static %}
                    <p><a href="{% static "website/img/carson-newton-resume.pdf" %}"><i class="icon-file"></i></a> <sm>VIEW PDF</sm></p>
				</div>

			</div>
		</div>
	</div>



	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Certification of Advanced Software Development</t><br/>
						Code Fellows | Seattle, WA<br/>
						<i>1 Year Course</i>
					</p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Candidate for Applied Sciences Degree</t><br/>
						Bellevue College | Bellevue, WA<br/>
						<i>1 Year Course</i>
					</p>
				</div>

                <div class="col-lg-6 col-lg-offset-3">
					<p><t>Candidate for Applied Sciences Degree</t><br/>
						Highline Community College | Des Moines, WA<br/>
						<i>Running Start Program | 4 Year Course</i>
					</p>
				</div>

		</div>
		<br>
		<hr>
	</div>



    <section id="section-works" name="section-works"></section>
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>WORK</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Lead Web Developer</t><br/>
						TRON Communication LLC &copy; <br/>
					</p>
					<p><more>TRON Communication is telecommunications company based out of Seattle. They offered me a contract to build their website in October, 2017, which I gladly accepted. Being the sole developer working on the website, my responsibilities encompassed every aspect of the website, such as: programming the front-end (including the design, responsiveness, etc.), deployment of the site, and the back-end architecture necessary (including the framework, server-side responses, etc.).</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>OCTOBER 2017 - CURRENT</sm></p>
				</div>

		</div>
		<br>
		<hr>
	</div>



	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
            </div>
            <div class="row">
                    <div class="col-lg-3">
                        <p id="skills-desc">Lorem Ipsum Python related stuff, this shouldn't push into the bubbles to the right. This should instead wrap before hitting them. Testing something out now. This box seems to work the way I want it to for the most part, so maybe all I need is more text.</p>
                    </div>
                    <div class="col-lg-3 centered">
						<canvas id="python" height="130" width="130"></canvas>
						<p>Python</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#1abc9c"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("python").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p>JavaScript</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="jquery" height="130" width="130"></canvas>
						<p>jQuery</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("jquery").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 centered">
						<canvas id="django" height="130" width="130"></canvas>
						<p>Django</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 75,
										color:"#1abc9c"
									},
									{
										value : 25,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("django").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 centered">
						<canvas id="node" height="130" width="130"></canvas>
						<p>Node.js</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("node").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 centered">
						<canvas id="pyramid" height="130" width="130"></canvas>
						<p>Pyramid</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("pyramid").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>HTML | CSS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 40,
										color:"#1abc9c"
									},
									{
										value : 60,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 centered">
						<canvas id="sql" height="130" width="130"></canvas>
						<p>SQL</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 55,
										color:"#1abc9c"
									},
									{
										value : 45,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("sql").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="sony" height="130" width="130"></canvas>
						<p>Sony Vegas Pro</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("sony").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 centered">
						<canvas id="power-director" height="130" width="130"></canvas>
						<p>Power Director</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 75,
										color:"#1abc9c"
									},
									{
										value : 25,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("power-director").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="reason" height="130" width="130"></canvas>
						<p>Propellerhead Reason</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 85,
										color:"#1abc9c"
									},
									{
										value : 15,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("reason").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div>
			<br>
		</div>
	</div>



	<section id="work" name="work"></section>

	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PORTFOLIO</h5>
				</div>
				<div class="col-lg-6">
                    {% load static %}
					<p><img class="img-responsive" src="{% static "website/img/port01.png" %}" alt="Review Improve Website"></p>
				</div>
				<div class="col-lg-3">
					<p>REVIEW IMPROVE</p>
				<p><more>A program that harnesses the power of web-scraping and machine-learning to scan a website and gather a detailed report of that site's overall review quality. The service is still in development, but a live demo (in which reviews from Rotten Tomatoes surrounding the new Star-Wars movie are analyzed) can be found on their website. Working with the Review Improve team was a lot of fun and we are still in the process of developing the technology.<br/><br/>
					<sm><i class="icon-tag"></i> front-end</sm></more>
                    <sm><i class="icon-tag"></i> web-scraping</sm></more>
                    <sm><i class="icon-tag"></i> back-end</sm></more>
				</p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
                    {% load static %}
					<p><img class="img-responsive" src="{% static "website/img/port02.png" %}" alt="TRON Communication Website"></p>
				</div>
				<div class="col-lg-3">
						<p>TRON COMMUNICATION WEBSITE</p>
					<p><more>TRON Communication LLC &copy; is a telecommunications company based out of Seattle, WA. This website is a reflection of the company and allows users to read about their vision, make payments for their telecommunications services, or get in contact with the company through an online contact form. As the company's needs grow and change so must their website; TRON Communication still contacts me from time to time to help them develop their website and grow their brand.<br/><br/>
						<sm><i class="icon-tag"></i> front-end</sm></more>
                        <sm><i class="icon-tag"></i> web design</sm></more>
                        <sm><i class="icon-tag"></i> back-end</sm></more>
					</p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
                    {% load static %}
					<p><img class="img-responsive" src="{% static "website/img/port03.jpg" %}" alt="Amazon Alexa"></p>
				</div>
				<div class="col-lg-3">
						<p>ALEXA ADVENTURES</p>
					<p><more>A series of interactive stories that utilize the Amazon Echo's Alexa to narrate immersive adventures. Alexa Adventures is a new take on the classic choose-your-own adventure that users can play entirely through voice commands using the Amazon Echo they have at home. Being apart of the Alexa Adventures team was an absolute blast and I look forward to working with them to turn their app into an official Alexa Skill.<br/><br/>
						<sm><i class="icon-tag"></i> back-end</sm></more>
                        <sm><i class="icon-tag"></i> aws lambda</sm></more>
					</p>
				</div>

		</div>
		<br>
		<br>
	</div>



	<section id="section-contact" name="section-contact"></section>

	<div id="footwrap">
		<div class="container">
			<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						carson.newton.dev@gmail.com<br/>
					</p>
					<p><t>Location</t><br/>
                        Seattle, WA. <br/>
					</p>
					<p><t>Phone</t><br/>
						(253) 324-3094<br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SOCIAL LINKS</sm></p>
					<p>
						<a href="https://www.linkedin.com/in/carson-newton/"><i class="icon-linkedin"></i></a>
						<a href="https://github.com/nosrac77"><i class="icon-github"></i></a>

					</p>
				</div>
			</div>
		</div>
	</div>

    {% load static %}
    <script src="{% static "website/js/bootstrap.js" %}"></script>
    {% load static %}
    <script src="{% static "website/js/app.js" %}"></script>
  </body>
</html>
